.menu-container{
    width: 100vw;
    height: 600px;
    background-color: #dab8ac;
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-title-box{
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-title{
    color: #ffffff;
    font-size: 2rem;
    margin-left: 60px;
    margin-right: 60px;
}

.menu-deco{
    color: #ffffff;
    width: 30%;
}

.menu-toggle{
    display:flex;
    justify-content: center;
}

.menu-toggle h3{
    margin: 10px;
    color: #7b7979;
}

.menu-try{
    text-align: center;
    color: #7b7979;
    margin-bottom: -10px;
}